.card img {
  object-fit: scale-down;
  max-height: 200px;
}

div.section {
  padding: 0px;
}

.brand-logo img {
  max-height: 50px;
  padding-left: 10px;
  padding-top: 10px;

a {
  color: white;
}

.input-field input:focus + label {
  color: orange !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}
