.card img {
  object-fit: scale-down;
  max-height: 200px;
}

div.section {
  padding: 0px;
}

.brand-logo img {
  max-height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

a {
  color: white;
}

.twitter-share-button {
  color: black;
}

.input-field input:focus + label {
  color: orange !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

.cart-item a {
  color: black;
  text-decoration: underline;
}

#product-image img {
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  object-fit: scale-down;
  margin: 20px;
  padding: 20px;
  background-color: white;
}

#single-product .row {
  display: flex;
  align-items: center;
}

#single-product {
  height: 100vh;
}

.cardimage img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.cardimage {
  box-sizing: border-box;
  height: 200px;
  display: flex;
  justify-content: center;
}

.card-content {
  height: 100px;
}

#social-media-btns {
  margin-top: 20px;
}

#product-details h2 {
  font-family: 'Special Elite', cursive;
}

#filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

#country-filter {
  display: flex;
  align-items: center;
}

#filters select {
  width: 300px;
}

.filter-cat {
  margin-right: 10px;
}

.container a {
  margin: 10px;
}
