body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* all products view */
#product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90vw;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border: 10px solid black;
  border-radius: 1em;
  margin: 20px;
  width: 350px;
  height: 350px;
}

.product:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.557);
}

.product-img {
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  background-color: white;
  object-fit: contain;
  object-position: 50% 0%;
}

.product-name {
  text-align: center;
  color: black;
  height: 60px;
}

.product-price {
  color: rgb(108, 108, 108);
}

/* single product view */
#single-product {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 80vh;
}

#single-product img {
  width: 300px;
  height: 80%;
  background-color: white;
  border: 10px solid black;
  border-radius: 1em;
  object-fit: contain;
  margin-left: 30px;
  box-sizing: border-box;
  object-position: 50% 0%;
}

#product-details {
  width: 600px;
  height: 80%;
  min-height: 310px;
  box-sizing: border-box;
  text-align: left;
  margin-left: 50px;
  margin-right: 30px;
  background: rgba(227, 226, 226, 0.523);
  padding: 15px;
  border-radius: 1em;
}

/* checkout */

#checkout-items {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#checkout-single-item {
  display: flex;
}
