.card img {
  object-fit: scale-down;
  max-height: 200px;
}

/* checkout */
/* 
#checkout-items {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#checkout-single-item {
  display: flex;
} */

#checkout {
  display: flex;
  justify-content: space-evenly;
}
