.card img {
  object-fit: scale-down;
  max-height: 200px;
}

div.section {
  padding: 0px;
}

.brand-logo img {
  max-height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

a {
  color: white;
}

.input-field input:focus + label {
  color: orange !important;
}

.row .input-field input:focus {
  border-bottom: 1px solid orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

.cart-item a {
  color: black;
  text-decoration: underline;
}

#single-product .row {
  display: flex;
  align-items: center;
}

#product-image img {
  box-sizing: border-box;
  width: 300px;
  height: 500px;
  object-fit: scale-down;
  padding: 20px;
}

#single-product {
  height: 100vh;
}

.cardimage img {
  box-sizing: border-box;
  height: 100%;
  object-fit: scale-down;
}

.cardimage {
  box-sizing: border-box;
  height: 200px;
  display: flex;
  justify-content: center;
}
.card-content {
  /* background-color: black; */
  height: 100px;
}
